html,
body {
  margin: 0;
  padding: 0px;
}

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #f55a5a;
  margin: 0;
  height: 55px;
}

header h1 {
  color: white;
  align-items: center;
  font-size: 1.2rem;
  font-family: "Inter";
  font-weight: 500;
  letter-spacing: -7.5%;
  padding-left: 10px;
}

header img {
  width: 24px;
  height: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.topline {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter";
  font-weight: 400;
}

.topline img {
  width: 14px;
  height: 20px;
}

.country {
  color: #2b283a;
  font-size: 0.64rem;
  text-transform: uppercase;
  padding-left: 20px;
}

.topline a {
  color: #918e9b;
  font-size: 0.82rem;
  padding-left: 20px;
}

.topline a:hover {
  color: #918e9b;
}

.wrapper h1 {
  font-family: "Inter";
  font-weight: bold;
  font-size: 1.875rem;
}
